BasedOnStyle: WebKit
IndentWidth: 4

AccessModifierOffset: -4

AlignAfterOpenBracket: Align
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveMacros: Consecutive
AlignOperands: AlignAfterOperator
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: Inline

NamespaceIndentation: All

RequiresClausePosition: OwnLine
BreakBeforeConceptDeclarations: Always
IndentRequiresClause: true
AlwaysBreakTemplateDeclarations: Yes
# AllowShortCompoundRequirementOnASingleLine: true

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

ColumnLimit: 80
